extends layout

block content
    div.row.mb-3
        div.col.text-center
            a.btn.btn-outline-success.btn-large(href='/planer/neu')
              i.fas.fa-plus 
              span=" "+"Neuer Plan"
    div.row.mb-2
        div.col
            h3 Vorhande Pläne
    div.row
        div.col
            Vorhande Pläne kommen hier hin
