extends layout

block content
    div.row.mb-3
        div.col.text-center
            a.btn.btn-outline-success.btn-large(href='/rezepte/neu') 
              i.fas.fa-plus 
              span=" "+"Neues Rezept"
    div.row.mb-2
        div.col
            h3 Vorhande Rezepte
    div.row
        div.col
            ul.list-group
                each rezept in rezepte
                    a.list-group-item.list-group-item-action.mb-1(href='rezepte/detail/'+rezept.id)=rezept.name
    div.row.fixed-bottom
     div.col
       a.btn.btn-light.btn-lg.btn-block(href='/')="Zurück"

