extends layout

block content
    div.row
        div.col.text-center
            h1="Neues Rezept"
    form(method='POST', action='')
        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', name='name')
        div.row
            div.col
                label Zutaten:
        div.row
            div.col
                button(type='button', onclick='addZutat()').btn.btn-outline-primary
                    i.fas.fa-plus
                    span=" " + "Neue Zutat"
        div.row
            div.col#zutaten
                div.row#header
                    div.col-2.zubereitung-header.d-none
                        h5 Menge
                    div.col-3.zubereitung-header.d-none
                        h5 Zutat

        div.row.mt-3
            div.col
                label Zubereitung:
        div.row
            div.col
                button(type='button').btn.btn-outline-primary
                    i.fas.fa-plus
                    span=" " + "Schritt hinzufügen"
        div.row.mt-5
            div.col
                a.btn.btn-danger.btn-lg.btn-block(href='/rezepte')="Abbrechen"
            div.col
                button.btn.btn-success.btn-lg.btn-block(type='submit') Speichern
    script
        include ../business/form/rezept-form.js
